:root{
    --cor-fundo: #F8F7FF;
    --cor-cartoes: #FFFFFF;
    --cor-texto: #1F1B2D;
    --cor-roxo-principal: #6D28D9;
    --cor-roxo-escuro: #3B0764;
    --cor-roxo-claro: #EDE9FE;

}

*{
    box-sizing: border-box;
}

body{
    min-height: 100%;
    margin: 10px;
    background-color: var(--cor-fundo);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: var(--cor-texto);
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.introducao{
    display: flex;
    flex-direction: column;
}

header img{
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
}
header ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
